th{
    background-color: #b5d592;
    text-align: left;
    border: 1px solid #000000;
}

td{
    text-align: left;
    border: 1px solid #000000;
}

table{
    border: 1px solid #000000;
    border-collapse: collapse;
}